.section__faq {
  color: $darkBlue;
  h2 {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 13rem;

    @media (max-width: 768px) {
      margin-top: 5.5rem;
      margin-bottom: 4rem;
      font-size: 3.5rem;
    }

    @media (max-width: 450px) {
      font-size: 3rem;
    }
  }
  .faq__flex {
    display: flex;
    justify-content: center;
    gap: 7rem;
    margin-bottom: 5rem;

    @media (max-width: 1150px) {
      gap: 5rem;
    }

    @media (max-width: 950px) {
      flex-direction: column;
    }

    @media (max-width: 768px) {
      margin-bottom: 3.5rem;
    }
    // COL 1 START  **************************************************************

    .faq__col--1 {
      .col__1--row--1 {
        padding-bottom: 2rem;
        .fl {
          @include faq__fl;
          h4 {
            @include faq__h4;
          }

          .plus {
            cursor: pointer;
          }
        }
      }

      .col__1--row--2 {
        border-top: 1px solid #deecef;
        border-bottom: 1px solid #deecef;
        padding: 2rem 0;
        .fl {
          @include faq__fl;
          h4 {
            @include faq__h4;
          }

          .plus {
            cursor: pointer;
          }
        }
      }

      .col__1--row--3 {
        border-bottom: 1px solid #deecef;
        padding: 2rem 0;
        .fl {
          @include faq__fl;
          h4 {
            @include faq__h4;
          }

          .plus {
            cursor: pointer;
          }
        }
      }

      .col__1--row--4 {
        display: block;
        border-bottom: 1px solid #deecef;
        padding: 2rem 0;
        .fl {
          @include faq__fl;
          h4 {
            @include faq__h4;
          }

          .plus {
            cursor: pointer;
          }
        }
      }

      .hidden__text {
        @include faq__text;
      }

      .hidden__text.active {
        display: block;
      }
    }

    // COL 1 END  **************************************************************
    // COL 2 START  **************************************************************

    .faq__col--2 {
      .col__2--row--1 {
        border-bottom: 1px solid #deecef;
        padding-bottom: 2rem;
        .fl {
          @include faq__fl;
          h4 {
            @include faq__h4;
          }

          .plus {
            cursor: pointer;
          }
        }
      }

      .col__2--row--2 {
        padding: 2rem 0;
        .fl {
          @include faq__fl;
          h4 {
            @include faq__h4;
          }

          .plus {
            cursor: pointer;
          }
        }
      }

      .col__2--row--3 {
        border-bottom: 1px solid #deecef;
        border-top: 1px solid #deecef;
        padding: 2rem 0;
        .fl {
          @include faq__fl;
          h4 {
            @include faq__h4;
          }

          .plus {
            cursor: pointer;
          }
        }
      }

      .col__2--row--4 {
        border-bottom: 1px solid #deecef;

        padding: 2rem 0;

        .fl {
          @include faq__fl;
          h4 {
            @include faq__h4;
          }

          .plus {
            cursor: pointer;
          }
        }
      }

      .hidden__text {
        @include faq__text;
      }

      .hidden__text.active {
        display: block;
      }
    }

    // COL 2 END  **************************************************************
  }
  .more {
    font-size: 1.45rem;
    color: #375cf6;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;

    &:hover {
      text-decoration: none;
    }

    @media (max-width: 768px) {
      margin-bottom: 5rem;
    }
  }
}
