@mixin mainForm {
  .col__left {
    max-width: 90rem;

    .row__1 {
      position: relative;
      display: flex;
      gap: 2rem;
      justify-content: space-between;

      @media (max-width: 1450px) {
        overflow-y: hidden;
        -ms-overflow-style: none;
      }

      &::after {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        background-color: #e9e9ff;
        bottom: -1.8rem;
        left: 0;
        border-radius: 1rem;
      }

      .col1 {
        position: relative;

        &::after {
          content: "";
          width: 100%;
          height: 3px;
          position: absolute;
          background-color: #375cf6;
          bottom: -1.8rem;
          left: 0rem;
          border-radius: 1rem;
          z-index: 1;
        }
      }

      .col1,
      .col2,
      .col3,
      .col4,
      .col5,
      .col6 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        img {
          width: 3rem;
        }
        p {
          font-size: $base-font-size;
          color: $darkBlue;

          @media (max-width: 910px) {
            font-size: 1.4rem;
          }
        }
      }

      .col1 p {
        width: 8.9rem;
      }
    }

    .form__main {
      .flex__form {
        position: relative;
        display: flex;
        max-width: 90rem;
        gap: 10rem;

        @media (max-width: 1450px) {
          gap: 5rem;
        }
        @media (max-width: 1150px) {
          flex-direction: column;
        }

        @media (max-width: 910px) {
          align-items: center;
          gap: 1rem;
        }

        select {
          @include selectInput;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: #fff;
          border: 1px solid #767676;

          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M11 1L6 6L1 1' stroke='%232D414F' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: right 1.2rem top 53%;
          background-size: 1.2rem auto;

          @media (max-width: 1450px) {
            width: 32rem;
          }

          @media (max-width: 1150px) {
            width: 45rem;
          }

          @media (max-width: 600px) {
            display: block;
            width: 37rem;
          }
          @media (max-width: 450px) {
            width: 32.5rem;
            padding: 1.7rem 0rem 1.7rem 3.8rem;

            &::placeholder {
              font-size: 1.4rem;
            }
          }

          @media (max-width: 380px) {
            width: 100%;
          }

          option {
            width: 100%;
          }
        }

        .postal__img {
          position: absolute;
          top: 1.7rem;
          right: 10rem;
          width: 2.4rem;
          height: 2.4rem;

          @media (max-width: 1450px) {
            right: 9.4rem;
            top: 1.7rem;
          }

          @media (max-width: 1150px) {
            left: 32.4rem;
          }
          @media (max-width: 910px) {
            left: 40rem;
          }
          @media (max-width: 600px) {
            left: 1.3rem;
            top: 8.6rem;
          }

          @media (max-width: 450px) {
            left: 0.9rem;
            top: 8.4rem;
          }
        }

        .city__postal--flex {
          position: relative;
          display: flex;
          gap: 1rem;
          margin-top: 1rem;
          @media (max-width: 910px) {
            margin-bottom: 3.5rem;
            width: 55rem;
          }
          @media (max-width: 600px) {
            width: 40rem;
            flex-direction: column;
          }

          @media (max-width: 450px) {
            margin-bottom: 2.2rem;
            width: 28rem;
          }

          .city {
            width: 25rem;
            @include input;

            @media (max-width: 1450px) {
              width: 18rem;
            }
            @media (max-width: 1150px) {
              width: 30rem;
            }
            @media (max-width: 910px) {
              width: 70%;
            }
            @media (max-width: 600px) {
              width: 100%;
            }

            @media (max-width: 450px) {
              width: 28rem;
              padding: 1.7rem 0rem 1.7rem 4rem;
              font-size: 1.4rem;

              &::placeholder {
                font-size: 1.4rem;
              }
            }
          }
          .postal {
            width: 14rem;
            @include input;

            @media (max-width: 1450px) {
              width: 13rem;
            }
            @media (max-width: 1150px) {
              width: 14rem;
            }
            @media (max-width: 910px) {
              width: 30%;
            }
            @media (max-width: 600px) {
              width: 100%;
            }

            @media (max-width: 450px) {
              width: 28rem;
              padding: 1.7rem 0rem 1.7rem 4rem;
              font-size: 1.4rem;

              &::placeholder {
                font-size: 1.4rem;
              }
            }
          }
          .city__img {
            position: absolute;
            left: 1.5rem;
            top: 1.7rem;
            width: 2.4rem;
            height: 2.4rem;

            @media (max-width: 450px) {
              left: 1rem;
              top: 1.5rem;
            }
          }
        }

        .reverse {
          position: absolute;
          top: 12.4rem;
          left: 44.1rem;

          @media (max-width: 1450px) {
            left: 35.95rem;
          }

          @media (max-width: 1150px) {
            top: 24.9rem;
            left: 22rem;
          }

          @media (max-width: 910px) {
            display: none;
          }
        }
        .form__main--col--1 {
          h3 {
            margin-top: 6rem;
            margin-bottom: 1.5rem;
            font-size: $base-font-size;

            @media (max-width: 1450px) {
              padding-left: 2rem;
            }

            @media (max-width: 1150px) {
              margin-top: 4rem;
              padding-left: 1.2rem;
            }
            @media (max-width: 910px) {
              margin-top: 3rem;
            }
            @media (max-width: 450px) {
              padding-left: 0;
            }
          }
          .form__main--input--left {
            position: relative;

            @media (max-width: 600px) {
              width: 42rem;
            }

            @media (max-width: 450px) {
              max-width: 28rem;
            }
            .select2-container {
              width: 100px;
            }

            .czflag {
              position: absolute;
              left: 1.3rem;
              top: 1.6rem;
              width: 2.3rem;
              @media (max-width: 1450px) {
                left: 3.3rem;
              }
              @media (max-width: 1150px) {
                left: 2.5rem;
              }
              @media (max-width: 450px) {
                left: 0.9rem;
              }
            }
            @media (max-width: 1450px) {
              padding-left: 2rem;
            }
            @media (max-width: 1150px) {
              padding-left: 1.2rem;
            }
            @media (max-width: 450px) {
              padding-left: 0;
            }
            .city__postal--flex {
              position: relative;
              display: flex;
              gap: 1rem;

              @media (max-width: 910px) {
                margin-bottom: 3.5rem;
              }

              @media (max-width: 450px) {
                margin-bottom: 2.2rem;
              }
            }
          }
        }

        // REVERSE 910 VIEWPORT START

        .form__main--col--reverse {
          display: none;
          @media (max-width: 910px) {
            display: block;
          }
        }

        // REVERSE 910 VIEWPORT END

        .form__main--col--2 {
          @media (max-width: 1150px) {
            padding-left: 1.2rem;
          }
          @media (max-width: 450px) {
            padding-left: 0;
          }
          h3 {
            margin-top: 6rem;
            margin-bottom: 1.5rem;
            font-size: $base-font-size;

            @media (max-width: 1150px) {
              margin-top: 0rem;
            }
          }
          .form__main--input--right {
            position: relative;
            @media (max-width: 600px) {
              width: 41rem;
            }
            @media (max-width: 450px) {
              max-width: 28rem;
            }
            .czflag {
              position: absolute;
              left: 1.3rem;
              top: 1.6rem;
              width: 2.3rem;
              @media (max-width: 1450px) {
                left: 1.4rem;
              }
              @media (max-width: 1150px) {
                left: 1.4rem;
              }
              @media (max-width: 450px) {
                left: 0.9rem;
              }
            }
          }
        }
      }
      // PACKAGE SECTION START ******************************************************
      .package {
        @media (max-width: 910px) {
          max-width: 55rem;
          margin: 0 auto;
        }
        @media (max-width: 600px) {
          max-width: 41rem;
        }
        @media (max-width: 450px) {
          max-width: 28rem;
        }
        h3 {
          font-size: 1.6rem;
          margin-top: 5rem;
          margin-bottom: 1.5rem;

          @media (max-width: 910px) {
            margin-top: 3rem;
          }
        }

        // PACKAGE GRID START

        .package__grid {
          position: relative;
          display: grid;
          grid-template-columns: 0.6fr 1fr 1fr;
          gap: 3rem;
          width: 100%;

          box-shadow: 0px 9px 32px 0px #efefff;
          background-color: #fff;
          border-radius: 1.2rem;
          padding: 1.5rem;

          &::after {
            content: "";
            width: 1px;
            height: 100%;
            background-color: rgba(108, 108, 255, 0.1);
            position: absolute;
            left: 18.4rem;
            bottom: 0rem;

            @media (max-width: 1450px) {
              display: none;
            }
          }
          &::before {
            content: "";
            width: 1px;
            height: 100%;
            background-color: rgba(108, 108, 255, 0.1);
            position: absolute;
            right: 28rem;
            bottom: 0rem;

            @media (max-width: 1450px) {
              display: none;
            }
          }

          @media (max-width: 1450px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            max-width: 71rem;
            column-gap: 1rem;
          }

          @media (max-width: 1150px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            max-width: 46.1rem;
            column-gap: 0rem;
            row-gap: 2rem;
          }

          @media (max-width: 910px) {
            margin: 0 auto;
            max-width: 55rem;
            row-gap: 2.8rem;
          }

          @media (max-width: 600px) {
            max-width: 41rem;
          }

          @media (max-width: 450px) {
            max-width: 28rem;
            row-gap: 1.5rem;
          }

          &--item {
            position: relative;
            display: flex;
            align-items: center;

            @media (max-width: 910px) {
              &:first-child {
                gap: 0.4rem;
              }
            }

            input {
              @include input;
              width: 9rem;
              padding: 1.5rem 1rem 1.5rem 2rem;

              @media (max-width: 910px) {
                width: 13rem;
              }

              @media (max-width: 610px) {
                width: 100%;
              }

              @media (max-width: 450px) {
                padding: 1.5rem 1rem;
                font-size: 1.2rem;
              }
            }

            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            input[type="number"] {
              -moz-appearance: textfield;
            }

            .hmotnost {
              width: 12rem;

              @media (max-width: 1450px) {
                width: 100%;
              }
            }

            p {
              font-size: 1.5rem;
            }

            .x {
              margin: auto 1.5rem;

              @media (max-width: 910px) {
                &:last-child {
                  margin-left: 0.9rem;
                  margin-right: 0.4rem;
                }
              }

              @media (max-width: 450px) {
                margin: auto 0.2rem;
                font-size: 1.2rem;
              }
            }
            .kg {
              margin: auto 1.5rem;

              @media (max-width: 910px) {
                margin-left: 0.9rem;
                margin-right: 1rem;
              }
              @media (max-width: 450px) {
                font-size: 1.2rem;
              }
            }
          }

          .package__grid--item.second {
            @media (max-width: 1150px) {
              justify-content: space-between;
            }
            @media (max-width: 910px) {
              justify-content: start;
              gap: 0.4rem;
            }
          }

          .package__grid--item-copynew {
            display: flex;
            align-items: center;
            gap: 2rem;

            a {
              display: flex;
              align-items: center;
              gap: 1rem;
              .copy {
                @media (max-width: 450px) {
                  width: 2rem;
                }
              }

              .new {
                @media (max-width: 450px) {
                  width: 1.7rem;
                }
              }

              p {
                font-size: 1.5rem;
                text-decoration: underline;
                color: $blue;

                &:hover {
                  text-decoration: none;
                }

                @media (max-width: 450px) {
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
        // PACKAGE GRID END
      }
    }
  }
}
