// HEADER START *********************************************************************
@mixin navbar {
  .overlay {
    display: none;
    background-color: rgba(56, 56, 56, 0.829);
    top: -39.4rem;
    left: -16rem;
    width: 100rem;

    height: calc(11.4rem + 100svh);

    position: absolute;
    z-index: 999 !important;
    overflow: hidden !important;
  }
  .overlay.active {
    display: block;
  }

  .select2-selection__rendered {
    @include input;
  }

  .select2-selection.select2-selection--single {
    height: auto !important;
    border: none !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M11 1L6 6L1 1' stroke='%232D414F' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1.2rem top 53%;
    background-size: 1rem auto;
    width: 40rem;

    @media (max-width: 1450px) {
      width: 32rem;
    }
    @media (max-width: 1150px) {
      width: 45rem;
    }
    @media (max-width: 600px) {
      width: 37rem;
    }
    @media (max-width: 450px) {
      width: 28rem;
    }
  }

  .select2-selection__arrow {
    display: none;
  }

  .select2-results__option {
    background-color: #fff;
    color: #333;
  }
  .select2-dropdown.select2-dropdown--below {
    width: 40rem !important;

    @media (max-width: 1450px) {
      width: 32rem !important;
    }
    @media (max-width: 1150px) {
      width: 45rem !important;
    }
    @media (max-width: 600px) {
      width: 37rem !important;
    }
    @media (max-width: 450px) {
      width: 28rem !important;
    }
  }
  .select2-results__option--selectable {
    padding: 1rem 0.6rem !important;
  }

  .input__mail:-webkit-autofill,
  .input__mail:-webkit-autofill:hover,
  .input__mail:-webkit-autofill:focus,
  .input__mail:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #172654 inset !important;
    -webkit-text-fill-color: #fff;
  }

  .input__password:-webkit-autofill,
  .input__password:-webkit-autofill:hover,
  .input__password:-webkit-autofill:focus,
  .input__password:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #172654 inset !important;
    -webkit-text-fill-color: #fff;
  }

  .input__mail:-moz-autofill,
  .input__mail:-moz-autofill:hover,
  .input__mail:-moz-autofill:focus,
  .input__mail:-moz-autofill:active {
    -moz-box-shadow: 0 0 0 30px #172654 inset !important;
  }

  .input__password:-moz-autofill,
  .input__password:-moz-autofill:hover,
  .input__password:-moz-autofill:focus,
  .input__password:-moz-autofill:active {
    -moz-box-shadow: 0 0 0 30px #172654 inset !important;
  }

  .header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    position: relative;

    .header__col--1 {
      img {
        @include md {
          width: 16rem;
          height: auto;
        }

        @include sm {
          width: 15rem;
        }
      }
    }

    .header__col--2 {
      @include lg {
        display: none;
      }
      .col__2--links {
        display: flex;
        gap: 2rem;
        color: #fff;
        font-size: $base-font-size;
        @include xl {
          gap: 1rem;
        }

        .dropdown {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .arrow__down {
            stroke: #fff;
            height: 2rem;
            width: 2rem;
          }
        }
        .col__2--link.dot {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $darkBlue;
            bottom: -15px;
            left: 48%;

            transition: all 0.1s;
          }

          &:hover::after {
            background-color: $lightBlue;
          }
        }
      }
    }

    .header__col--3 {
      position: relative;

      // DROPDOWN EUR START ***************************************

      .dropdown__eur {
        display: none;
        position: absolute;
        left: 4.7rem;
        top: 5rem;
        background-color: #182754;
        padding: 1rem 1.5rem;
        border-radius: 0.8rem;
        transition: all 0.2s;
        color: #fff;
        font-size: $base-font-size;
        z-index: 10;

        &:hover {
          background-color: #1e3167;
        }

        @include xl {
          left: 3.5rem;
          padding: 1rem 1.2rem;
        }
      }

      .dropdown__eur.active {
        display: block;
      }

      // DROPDOWN EUR END ***************************************
      // DROPDOWN ENG START ***************************************

      .dropdown__eng {
        display: none;
        align-items: center;
        gap: 0.5rem;
        position: absolute;
        left: 11.3rem;
        top: 5rem;
        background-color: #182754;
        padding: 1rem 1.5rem;
        border-radius: 0.8rem;
        transition: all 0.2s;
        color: #fff;
        font-size: $base-font-size;
        z-index: 10;

        &:hover {
          background-color: #1e3167;
        }

        @include xl {
          left: 10rem;
          padding: 1rem 1.1rem;
        }
      }

      .dropdown__eng.active {
        display: flex;
      }

      // DROPDOWN ENG END ***************************************
      // DROPDOWN MENU START ***************************************

      .dropdown__menu {
        display: none;
        position: absolute;
        top: 7rem;
        left: -1.3rem;
        background-color: $login;
        padding: 2rem 2.5rem;
        border-radius: 2rem;
        height: 38rem;
        z-index: 1000;

        @include xl {
          left: -4rem;
        }

        h3 {
          color: #fff;
          font-size: 1.8rem;
          margin-bottom: 2rem;
        }
        .inputfield {
          .input__mail {
            margin-bottom: 1.5rem;

            &::placeholder {
              color: #fff;
              font-style: inherit;
              margin: auto 0;
            }
          }
          .input__mail--icon {
            img {
              position: absolute;
              top: 7.9rem;
              left: 4.2rem;
              width: 1.9rem;
            }
          }

          .input__password--icon {
            img {
              position: absolute;
              top: 13.5rem;
              left: 4.2rem;
              width: 1.8rem;
            }
          }

          .input__mail,
          .input__password {
            position: relative;
            padding: 1rem 3rem 1rem 4.7rem;
            width: 28rem;
            background-color: $login;
            border: 2px solid $inputBorder;
            border-radius: 0.5rem;
            color: #fff;

            &::placeholder {
              color: #fff;
              font-style: inherit;
              margin: auto 0;
            }
            transition: all 0.3s;
            &:focus {
              outline: none !important;
              border: 2px solid $inputBorder-light;
            }
          }
        }

        // LOGIN BUTTON START

        .login__btn--m {
          text-align: center;
          position: relative;

          .login__btn {
            @include purpleButton;
          }

          img {
            position: absolute;
            top: 2.2rem;
            bottom: 0;
            right: -25.5rem;

            @media (max-width: 750px) {
              right: -22.5rem;
            }
          }
        }

        // LOGIN BUTTON END

        // FORGOT PASSWORD START

        .forgot__password {
          color: $lightBlue;
          font-size: 1.5rem;
          text-decoration: underline;
        }

        // FORGOT PASSWORD END
        // REGISTER START
        .noaccount {
          background-color: #1e3167;
          position: absolute;
          width: 100%;
          border-bottom-left-radius: 2rem;
          border-bottom-right-radius: 2rem;
          padding: 0 2rem;
          left: 0;
          bottom: -10.5rem;

          h3 {
            color: #fff;
            font-size: 1.8rem;
            margin-top: 2.5rem;
          }
          .noaccount__btn--m {
            text-align: center;
            position: relative;
            .noaccount__btn {
              @include purpleButton;
            }
            img {
              position: absolute;
              top: 2.2rem;
              right: 2.6rem;
            }
          }
        }
        // REGISTER END
      }

      .dropdown__menu.active {
        display: block;
      }
      // DROPDOWN MENU END ***************************************

      .col__3--links {
        position: relative;
        display: flex;
        align-items: center;
        gap: 2rem;
        color: #fff;
        font-size: $base-font-size;
        @include xl {
          gap: 1rem;
        }
        @include md {
          gap: 0;
        }

        .czk {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
        .flag {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
        .arrow__down {
          stroke: #fff;
          height: 2rem;
          width: 2rem;
        }

        .btn {
          display: flex;
          align-items: center;
          gap: 1rem;
          border: 1px solid $lightBlue;
          padding: 1rem 2.5rem;
          border-radius: 1rem;
          transition: all 0.3s;

          &:hover {
            background-color: $lightBlue;
          }

          @include xl {
            margin-left: 1rem;
          }

          .user__header {
            margin-top: -0.5rem;
          }
        }

        .menu {
          display: none;
          align-items: center;
          gap: 1rem;
          border: 1px solid $lightBlue;
          border-radius: 1rem;
          padding: 1rem 2.5rem;
          transition: 0.3s all;

          @include lg {
            display: flex;
          }

          @include md {
            padding: 0.8rem 2rem;
            font-size: 1.4rem;
          }

          @include sm {
            padding: 0.6rem 1.6rem;
            font-size: 1.3rem;
          }

          &:hover {
            background-color: $lightBlue;
          }
        }

        .menu.active {
          background-color: $lightBlue;
        }

        .czk,
        .flag,
        .btn,
        .cart {
          @include lg {
            display: none;
          }
        }

        .cart {
          position: relative;
        }

        .active__cart {
          position: absolute;
          background-color: #46d9ff;
          padding: 0.25rem 0.75rem;
          font-size: 1.2rem;
          font-weight: 700;
          border-radius: 50%;
          top: 0.3rem;
          left: 2rem;
          color: $darkBlue;

          @media (max-width: 1200px) {
            font-size: 1rem;
            padding: 0.15rem 0.65rem;
          }

          @media (max-width: 960px) {
            display: none;
          }
        }
      }
    }
  }

  // HEADER END *********************************************************************
  // UNDERNAV TEXT START ************************************************************

  .undernav__text {
    margin-top: 6rem;
    color: #fff;
    font-size: 2.5rem;

    @include md {
      text-align: center;
    }

    @media (max-width: 510px) {
      margin-top: 4rem;
    }

    span {
      position: relative;
      z-index: 4;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1rem;
        border-radius: 0.2rem;
        background-color: $kamkolivAfter;
        bottom: 5px;
        left: 0;
        z-index: -1;

        transition: all 0.1s;
      }
    }
  }

  .undernav__text.active {
    display: none;
  }

  // UNDERNAV TEXT END ************************************************************

  // DROPDOWN START ************************************************************

  .services__dropdown {
    display: none;
    position: absolute;
    top: 12rem;
    justify-content: center;
    right: 0;
    gap: 12rem;
    z-index: 1000;
    background-color: $darkBlue;
    border: 1.5px dotted $lightBlue;
    padding: 4rem 10rem;
    border-radius: 4rem;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 140rem;

    @media (max-width: 1450px) {
      min-width: 110rem;
      gap: 8rem;
    }

    @media (max-width: 1150px) {
      min-width: 90rem;
      gap: 4rem;
    }

    h3 {
      font-size: 2.3rem;
      color: #fff;
      margin-bottom: 3rem;
      @media (max-width: 1150px) {
        font-size: 2rem;
      }
    }
    a {
      font-size: 1.6rem;
      color: $lightBlue;
      text-decoration: underline;
      margin-bottom: 1.5rem;

      &:hover {
        text-decoration: none;
      }

      @media (max-width: 1150px) {
        font-size: 1.4rem;
      }
    }
    .dropdown__col--1,
    .dropdown__col--2,
    .dropdown__col--3,
    .dropdown__col--4 {
      display: flex;
      flex-direction: column;
    }
  }

  // ACTIVE DROPDOWN
  .services__dropdown.active {
    display: flex;

    @include lg {
      display: none;
    }
  }

  .undernav__bg {
    display: none;
    position: absolute;
    background-color: $darkBlue;
    height: 59.1rem;
    width: 100%;
    top: 10rem;
    left: 0;
    z-index: 2;
  }

  .undernav__bg.active {
    display: block;
  }

  //  MOBILE MENU  START ******************************************

  .mobile__menu {
    position: absolute;
    left: -100%;
    top: 6rem;
    margin-top: 5rem;
    background-color: $darkBlue;
    width: 100%;
    height: 100svh;
    gap: 4rem;
    z-index: 100;
    transition: all 0.3s;
    padding: 0 2rem;

    // @media (max-width: 680px) {
    //   height: 51%;
    // }

    // @media (max-width: 600px) {
    //   margin-top: 3.5rem;
    // }

    // @media (max-width: 565px) {
    //   height: 100svh;
    // }

    .mobile__flex {
      display: flex;
      justify-content: center;
      gap: 4rem;

      @include md {
        gap: 2rem;
      }

      @media (max-width: 565px) {
        display: none;
      }

      .mobile__menu--col--1,
      .mobile__menu--col--2,
      .mobile__menu--col--3,
      .mobile__menu--col--4 {
        display: flex;
        flex-direction: column;
      }

      h3 {
        font-size: 1.6rem;
        color: #fff;
        margin-bottom: 3rem;

        @media (max-width: 680px) {
          font-size: 1.2rem;
          margin-bottom: 2rem;
        }
      }

      a {
        font-size: 1.3rem;
        color: $lightBlue;
        text-decoration: underline;
        margin-bottom: 1.5rem;

        &:hover {
          text-decoration: none;
        }

        @media (max-width: 680px) {
          font-size: 0.9rem;
        }
      }
    }
  }

  .mobile__menu.active {
    left: 0;
  }

  //  MOBILE MENU  END ******************************************

  // MOBILE CZK FLAG LOGIN START ********************************
  .header__flex--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    position: relative;

    @media (max-width: 680px) {
      padding-top: 2rem;
    }

    @media (max-width: 565px) {
      display: none;
    }

    .header__col--3--mobile {
      margin: 0 auto;

      .col__3--links--mobile {
        position: relative;
        display: flex;
        align-items: center;
        gap: 2rem;
        color: #fff;
        font-size: $base-font-size;
        margin-right: 5rem;
        transition: all 0.3s;

        @media (max-width: 750px) {
          gap: 1rem;
        }

        @media (max-width: 680px) {
          gap: 0.7rem;
        }

        @media (max-width: 565px) {
          display: none;
        }

        .czk--mobile {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          cursor: pointer;
          span {
            font-size: 1.4rem;

            @media (max-width: 750px) {
              font-size: 1.2rem;
            }
          }
        }

        .flag--mobile {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          cursor: pointer;
        }
        .arrow__down {
          stroke: #fff;
          height: 1.6rem;
          width: 1.6rem;
        }

        .active__cart {
          font-size: 1rem;
          background-color: #46d9ff;
          padding: 0.1rem 0.6rem;
          border-radius: 50%;
          position: absolute;
          left: 1.8rem;
          top: 0rem;
          color: $darkBlue;

          @media (max-width: 750px) {
            left: 1.6rem;
          }
        }

        .cart {
          cursor: pointer;
          img {
            width: 2.5rem;
            height: auto;
          }
        }

        .btn--mobile {
          display: flex;
          align-items: center;
          gap: 1rem;
          border: 1px solid $lightBlue;
          padding: 0.8rem 2rem;
          border-radius: 1rem;
          transition: all 0.3s;
          cursor: pointer;

          &:hover {
            background-color: $lightBlue;
          }

          @include xl {
            margin-left: 1rem;
          }

          @media (max-width: 750px) {
            padding: 0.5rem 1.5rem;
          }

          .user__header {
            margin-top: -0.5rem;
          }
        }

        .btn--mobile.active {
          background-color: $lightBlue;
        }

        .menu.active {
          background-color: $lightBlue;
        }

        // OVERLAY2

        .overlay2 {
          display: none;
          background-color: rgba(56, 56, 56, 0.829);
          top: -41rem;
          left: -31rem;
          width: 100rem;

          height: 100svh;

          position: absolute;
          z-index: 999;
          overflow: hidden;
        }
        .overlay2.active {
          display: block;
        }
      }

      .dropdown__eur--mobile {
        display: none;
        position: absolute;
        left: 3.7rem;
        top: 5rem;
        background-color: #182754;
        padding: 1rem 1.2rem;
        border-radius: 0.8rem;
        transition: all 0.2s;
        color: #fff;
        font-size: $base-font-size;
        z-index: 10;

        &:hover {
          background-color: #1e3167;
        }

        @media (max-width: 750px) {
          font-size: 1.2rem;
          left: 2.4rem;
        }
        @media (max-width: 680px) {
          top: 4rem;
        }
      }
      .dropdown__eur--mobile.active {
        display: block;
      }
      .dropdown__eng--mobile {
        display: none;
        align-items: center;
        gap: 0.5rem;
        position: absolute;
        left: 10rem;
        top: 5rem;
        background-color: #182754;
        padding: 1rem 1.2rem;
        border-radius: 0.8rem;
        transition: all 0.2s;
        color: #fff;
        font-size: $base-font-size;
        z-index: 10;

        &:hover {
          background-color: #1e3167;
        }

        @media (max-width: 750px) {
          font-size: 1.2rem;
          left: 7.6rem;
        }

        @media (max-width: 680px) {
          top: 4rem;
        }
      }
      .dropdown__eng--mobile.active {
        display: flex;
      }
    }
    // LOGIN MOBILE START *******************************

    .dropdown__menu--mobile {
      display: none;
      position: absolute;
      top: -29rem;
      left: 0rem;
      background-color: $login;
      padding: 1.5rem 2rem;
      border-radius: 2rem;
      height: 29.5rem;
      z-index: 1000;

      @media (max-width: 680px) {
        height: 25rem;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      h3 {
        color: #fff;
        font-size: 1.5rem;
        margin-bottom: 1rem;

        @media (max-width: 680px) {
          font-size: 1.2rem;
        }
      }
      .inputfield {
        #mail-tablet {
          width: 25rem !important;
          @media (max-width: 680px) {
            width: 20rem !important;
          }
        }

        #heslo-tablet {
          width: 25rem !important;
          @media (max-width: 680px) {
            width: 20rem !important;
          }
        }

        .input__mail {
          margin-bottom: 1rem;
        }

        .input__mail--icon {
          img {
            position: absolute;
            top: 6.1rem;
            left: 3.7rem;
            width: 1.9rem;

            @media (max-width: 680px) {
              top: 5.1rem;
              width: 1.7rem;
            }
          }
        }

        .input__password--icon {
          img {
            position: absolute;
            top: 11.1rem;
            left: 3.7rem;
            width: 1.8rem;

            @media (max-width: 680px) {
              top: 9rem;
              width: 1.6rem;
            }
          }
        }

        .input__mail,
        .input__password {
          transition: 0.3s all;
          position: relative;
          padding: 1rem 3rem 1rem 4.7rem;
          width: 28rem;

          background-color: $login;
          border: 2px solid $inputBorder;
          border-radius: 0.5rem;
          color: #fff;

          &::placeholder {
            color: #fff;
            font-style: inherit;
            margin: auto 0;
          }
          &:focus {
            outline: none !important;
            border: 2px solid $inputBorder-light;
          }

          @media (max-width: 750px) {
            width: 24rem;
            padding-right: 0.2rem;
          }

          @media (max-width: 680px) {
            width: 20rem;
            font-size: 1.2rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
          }
        }
      }

      // LOGIN BUTTON START

      .login__btn--m {
        text-align: center;
        position: relative;

        .login__btn {
          @include purpleButton;
          margin-top: 1.5rem;
          margin-bottom: 2rem;
          font-size: 1.5rem;
          padding: 1rem 0;

          @media (max-width: 680px) {
            margin-bottom: 0.6rem;
            font-size: 1.2rem;
          }
        }

        img {
          position: absolute;
          top: 1.6rem;
          bottom: 0;
          right: -25.5rem;

          @media (max-width: 750px) {
            right: -22.5rem;
          }

          @media (max-width: 680px) {
            right: -19rem;
            top: 1.3rem;
          }
        }
      }

      // LOGIN BUTTON END

      // FORGOT PASSWORD START

      .forgot__password {
        color: $lightBlue;
        font-size: 1.4rem;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }

        @media (max-width: 680px) {
          font-size: 1.1rem;
        }
      }

      // FORGOT PASSWORD END
      // REGISTER START
      .noaccount {
        background-color: #1e3167;
        position: absolute;
        width: 100%;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        padding: 0 2rem;
        left: 0;
        bottom: -10rem;

        @media (max-width: 680px) {
          bottom: -5.5rem;
        }

        h3 {
          color: #fff;
          font-size: 1.5rem;
          margin-top: 1.5rem;

          @media (max-width: 680px) {
            font-size: 1.2rem;
            margin-top: 1rem;
          }
        }
        .noaccount__btn--m {
          text-align: center;
          position: relative;
          .noaccount__btn {
            @include purpleButton;
            padding: 1rem 0;
            font-size: 1.5rem;

            @media (max-width: 680px) {
              font-size: 1.2rem;
              margin-top: 0.5rem;
              margin-bottom: 1.5rem;
            }
          }
          img {
            position: absolute;
            top: 1.6rem;
            bottom: 0rem;
            right: 2.6rem;

            @media (max-width: 680px) {
              right: 1.1rem;
              bottom: 0;
              top: 1.3rem;
            }
          }
        }

        // REGISTER END
      }
    }

    .dropdown__menu--mobile.active {
      display: block;
    }

    // LOGIN MOBILE END *********************************
  }

  // MOBILE CZK FLAG LOGIN START ********************************

  // MOBILE MENU 565PX START ************************************

  .mobile__menu--565 {
    position: relative;
    display: none;
    z-index: 1300;
    @media (max-width: 565px) {
      display: block;
      margin: 0 1.5rem 0 1.5rem;
    }
    @media (max-width: 450px) {
      margin: 0;
    }

    h3 {
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 0.8rem;
      color: $lightBlue;
    }
    .kamz {
      margin-top: 1.5rem;
    }

    h2 {
      font-size: 1.4rem;
      font-weight: 400;
    }

    a {
      text-decoration: underline;
      font-size: 1.2rem;
      margin-right: 0.5rem;
      color: $lightBlue;

      &:hover {
        text-decoration: none;
      }
    }

    .flex-mob {
      display: none;
      justify-content: space-between;
      align-items: center;
    }

    .flex-mob {
      display: flex;
    }

    .sluzby__h3 {
      font-size: $base-font-size;
      color: #fff;
    }

    .sluzby__a {
      font-size: $base-font-size;
      color: #fff;
      display: block;
      text-decoration: none;
      margin-bottom: 1.5rem;
      width: 100%;
    }

    .mobile__menu--sluzby--565 {
      display: flex;
      justify-content: space-between;
    }
    .mobile__menu--kamzasilame--hidden,
    .mobile__menu--cozasilame--hidden,
    .mobile__menu--preprava--hidden,
    .mobile__menu--dopravci--hidden {
      margin-bottom: 1rem;
      display: none;
    }

    .mobile__menu--kamzasilame--hidden.active,
    .mobile__menu--cozasilame--hidden.active,
    .mobile__menu--preprava--hidden.active,
    .mobile__menu--dopravci--hidden.active {
      display: block;
    }

    .a__container--1,
    .a__container--2,
    .a__container--3,
    .a__container--4 {
      display: none;
    }

    .a__container--1.active,
    .a__container--2.active,
    .a__container--3.active,
    .a__container--4.active {
      display: block;
    }

    // CENIK FAQ BLOG KONTAKT START

    .cenik__a {
      position: relative;
      margin-top: 3rem;

      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.14);
        position: absolute;
        bottom: -1.5rem;
        left: 0;
      }
      &::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.14);
        position: absolute;
        top: -1.5rem;
        left: 0;
      }
    }

    .faq__a,
    .blog__a,
    .faq__a {
      position: relative;
      margin-top: 3rem;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.14);
        position: absolute;
        bottom: -1.5rem;
        left: 0;
      }
    }
    .faq__a {
      margin-bottom: 1.5rem;
    }

    // CENIK FAQ BLOG KONTAKT END

    // 565 PX LOGIN CZK FLAG START
    .header__flex--mobile--565 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 5rem;
      position: relative;

      @media (max-width: 680px) {
        padding-top: 2rem;
      }

      .header__col--3--mobile--565 {
        margin: 0 auto;

        .col__3--links--mobile--565 {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          color: #fff;
          font-size: $base-font-size;

          transition: all 0.3s;

          .czk--mobile--565 {
            color: #fff;
            text-decoration: none;
            span {
              font-size: 1.4rem;

              @media (max-width: 750px) {
                font-size: 1.2rem;
              }
            }
          }
          .flag--mobile--565 {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin: 0;
            cursor: pointer;
          }

          .czk--mobile--565,
          .flag--mobile--565 {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin: 0;
            cursor: pointer;
          }

          .arrow__down {
            stroke: #fff;
            height: 1.6rem;
            width: 1.6rem;
          }

          .active__cart {
            font-size: 1rem;
            background-color: #46d9ff;
            padding: 0.1rem 0.6rem;
            border-radius: 50%;
            position: absolute;
            left: 1.8rem;
            top: 0rem;
            color: $darkBlue;
            text-decoration: none;
          }

          .cart--565 {
            cursor: pointer;
            margin: 0;
            img {
              width: 2.5rem;
              height: auto;
            }
          }

          .btn--mobile--565 {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            border: 1px solid $lightBlue;
            padding: 0.7rem 1.5rem;
            border-radius: 1rem;
            transition: all 0.3s;
            margin: 0;
            text-decoration: none;
            color: #fff;

            cursor: pointer;

            &:hover {
              background-color: $lightBlue;
            }

            .user__header {
              margin-top: -0.5rem;
            }
          }

          .btn--mobile--565.active {
            background-color: $lightBlue;
          }

          .menu.active {
            background-color: $lightBlue;
          }
        }

        .dropdown__eur--mobile--565 {
          display: none;
          position: absolute;
          left: 2.4rem;
          top: 4rem;
          background-color: #182754;
          padding: 1rem 1.2rem;
          border-radius: 0.8rem;
          transition: all 0.2s;
          color: #fff;
          font-size: 1.2rem;
          z-index: 10;
          text-decoration: none;

          &:hover {
            background-color: #1e3167;
          }
        }
        .dropdown__eur--mobile--565.active {
          display: block;
        }
        .dropdown__eng--mobile--565 {
          display: none;
          align-items: center;
          gap: 0.5rem;
          position: absolute;
          left: 7.6rem;
          top: 4rem;
          background-color: #182754;
          padding: 1rem 1.2rem;
          border-radius: 0.8rem;
          transition: all 0.2s;
          color: #fff;
          font-size: 1.2rem;
          z-index: 10;
          text-decoration: none;

          &:hover {
            background-color: #1e3167;
          }
        }
        .dropdown__eng--mobile--565.active {
          display: flex;
        }
      }
    }
    // LOGIN MOBILE START *******************************

    .dropdown__menu--mobile--565 {
      display: none;
      position: absolute;
      top: -29rem;
      left: -1rem;
      background-color: $login;
      padding: 1.5rem 2rem;
      border-radius: 2rem;
      height: 26rem;
      z-index: 1200 !important;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      h3 {
        color: #fff;
        font-size: 1.5rem;
        margin-bottom: 1rem;

        @media (max-width: 680px) {
          font-size: 1.2rem;
        }
      }
      .inputfield {
        .input__mail {
          margin-bottom: 1rem;

          &::placeholder {
            color: #fff;
            font-style: inherit;
            margin: auto 0;
          }
        }
        .input__mail--icon--565 {
          img {
            position: absolute;
            top: 6.1rem;
            left: 3.7rem;
            width: 1.9rem;

            @media (max-width: 680px) {
              top: 5.1rem;
              width: 1.7rem;
            }
          }
        }
        .input__password--icon--565 {
          img {
            position: absolute;
            top: 11.1rem;
            left: 3.7rem;
            width: 1.8rem;

            @media (max-width: 680px) {
              top: 9rem;
              width: 1.6rem;
            }
          }
        }

        .input__mail,
        .input__password {
          transition: 0.3s all;
          position: relative;
          padding: 1rem 3rem 1rem 4.7rem;
          width: 28rem;

          background-color: $login;
          border: 2px solid $inputBorder;
          border-radius: 0.5rem;
          color: #fff;

          &::placeholder {
            color: #fff;
            font-style: inherit;
            margin: auto 0;
          }
          &:focus {
            outline: none !important;
            border: 2px solid $inputBorder-light;
          }

          @media (max-width: 750px) {
            width: 24rem;
            padding-right: 0.2rem;
          }

          @media (max-width: 680px) {
            width: 20rem;
            font-size: 1.2rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
          }
        }
      }

      // LOGIN BUTTON START

      .login__btn--m--565 {
        text-align: center;
        position: relative;
        text-decoration: none;

        .login__btn {
          @include purpleButton;
          margin-top: 1.5rem;
          margin-bottom: 2rem;
          font-size: 1.5rem;
          padding: 1rem 0;

          @media (max-width: 680px) {
            margin-bottom: 0.6rem;
            font-size: 1.2rem;
          }
        }

        img {
          position: absolute;
          top: 1.6rem;
          bottom: 0;
          right: -25.5rem;

          @media (max-width: 750px) {
            right: -22.5rem;
          }

          @media (max-width: 680px) {
            right: -19rem;
            top: 1.3rem;
          }
        }
      }

      // LOGIN BUTTON END

      // FORGOT PASSWORD START

      .forgot__password--565 {
        color: $lightBlue;
        font-size: 1.4rem;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }

        @media (max-width: 680px) {
          font-size: 1.1rem;
        }
      }

      // FORGOT PASSWORD END
      // REGISTER START
      .noaccount--565 {
        background-color: #1e3167;
        position: absolute;
        width: 100%;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        padding: 0 2rem;
        left: 0;
        bottom: -5.5rem;

        h3 {
          color: #fff;
          font-size: 1.5rem;
          margin-top: 1.5rem;

          @media (max-width: 680px) {
            font-size: 1.2rem;
            margin-top: 1rem;
          }
        }
        .noaccount__btn--m--565 {
          text-align: center;
          position: relative;
          text-decoration: none;
          .noaccount__btn {
            @include purpleButton;
            padding: 1rem 0;
            font-size: 1.2rem;
            margin-top: 0rem;
            margin-bottom: 0rem;
            text-decoration: none;
          }
          img {
            position: absolute;
            right: -18.9rem;
            bottom: 0;
            top: 1.3rem;
          }
        }

        // REGISTER END
      }
    }

    .dropdown__menu--mobile--565.active {
      display: block;
      z-index: 1200 !important;
    }

    // LOGIN MOBILE END *********************************
  }

  // 565 PX LOGIN CZK FLAG END

  // MOBILE MENU 565PX END ************************************

  // TEMPORARY TABLET MENU
  .temporary__tablet--menu {
    position: relative;
    a {
      display: block;
      color: #fff;
      width: 100%;
      font-size: 2rem;
      margin: 1rem 1.5rem 3rem 0rem;

      @media (max-width: 565px) {
        display: none;
      }
    }

    .cenik__a-tablet {
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.14);
        position: absolute;
        bottom: -1.5rem;
        left: 0;
      }
      &::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.14);
        position: absolute;
        top: -1.5rem;
        left: 0;
      }
    }
    .faq__a-tablet {
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.14);
        position: absolute;
        bottom: -1.5rem;
        left: 0;
      }
    }
    .kontakt__a-tablet {
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.14);
        position: absolute;
        bottom: -1.5rem;
        left: 0;
      }
      &::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.14);
        position: absolute;
        top: -1.5rem;
        left: 0;
      }
    }
  }
}
