.hcdc {
  gap: 1rem !important;
  p {
    width: 6rem !important;
    text-align: center;
  }
}
.package__grid--kontejner {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: #fff;
  box-shadow: 0px 9px 32px 0px #efefff;
  border-radius: 1.2rem;
  padding: 1.5rem 2rem;
  margin-bottom: 7rem;

  @media (max-width: 1450px) {
    max-width: 71rem;
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 100%;

    background-color: #f0f0ff;
    bottom: 0;
    left: 58.7rem;

    @media (max-width: 1450px) {
      content: none;
    }
  }
  &--col-1 {
    display: flex;
    .hmotnost {
      @include input;
      width: 51.5rem;
      padding: 1.7rem 2rem;
      margin-right: 0.8rem;
      @media (max-width: 1450px) {
        width: 100%;
      }
    }
    .kg {
      margin: auto 1.3rem;
      font-size: 1.5rem;
    }
  }

  &--col-2 {
    display: flex;
    width: 100%;
    .copy__flex {
      @include flexcenter;
      margin-left: 2rem;

      @media (max-width: 1450px) {
        margin-left: 0rem;
      }

      .copy {
        @include flexcenter;
        gap: 0.8rem;
        p {
          @include new__copy--p;

          @media (max-width: 450px) {
            font-size: 1.2rem;
          }
        }
      }
    }
    .new__flex {
      @include flexcenter;
      .new {
        margin-left: 2.5rem;
        @include flexcenter;
        gap: 0.8rem;

        @media (max-width: 450px) {
          margin-left: 1.5rem;
        }

        p {
          @include new__copy--p;

          @media (max-width: 450px) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

#col__right--kontejner {
  height: 57%;
  @media (max-width: 1150px) {
    height: 48%;
  }
}

.viewport__1450--kontejner {
  position: relative !important;
  max-width: 100%;
  @media (max-width: 1150px) {
    display: inline !important;
  }
  @media (max-width: 750px) {
    margin: 0 auto !important;
  }

  h3 {
    padding-left: 0rem !important;
    @media (max-width: 910px) {
      padding-left: 1rem !important;
    }
  }
  .kontejner__1450 {
    @media (max-width: 910px) {
      margin: 0 0 6rem 0;
      width: 100% !important;
    }
    @media (max-width: 750px) {
      width: 100% !important;
    }
    .hmotnost {
      width: 70% !important;
    }

    p {
      @media (max-width: 350px) {
        font-size: 1.3rem !important;
      }
    }
  }

  .package__flex--2--kontejner {
    padding-top: 2rem !important;
  }
}

#packageFlexHmotnostKontejner {
  @media (max-width: 1450px) {
    justify-content: start !important;
  }

  @media (max-width: 910px) {
    max-width: 100% !important;
  }
  .hmotnost {
    width: 100% !important;
  }
}
